body {
    background-color: lightslategray;
    height: 100vh;
}
.signin {
    width: 70%;
}
.connected {
    display: grid;
    height: 100vh;
}
.overlap {
    grid-column: 1;
    grid-row: 1;
}
.center2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
}
.form-signin {
    width: 100%;
    height: 60%;
    padding: 1rem;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.layer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.company_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%

}
.company_image img {
    max-width: fit-content;
}
.maxheight {
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width: 997px){
    .signin {
        width: 400px;
    }
    .form-signin {
        width: 700px;
    }
}